/* About Page Container */
.about-section {
  max-width: 760px;
  margin: 60px auto;
  padding: 50px;
  margin-top: 200px;
  background: url("../templates/res.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #4b2e1e;

  color: #eaeaea;
  border-radius: 12px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

/* Main Title */
.about-section h1 {
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 1.5px;
}

/* Paragraphs */
.about-section p {
  line-height: 1.8;
  color: #cfcfcf;
  margin-bottom: 35px;
  font-size: 1.05rem;
}

/* Section Subtitle */
.about-section h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  position: relative;
  padding-left: 15px;
}

/* Accent Line */
.about-section h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 4px;
  height: 70%;
  background-color: #f4c430;
  border-radius: 2px;
}
