@font-face {
  font-family: "Playwrite NZ Basic";
  font-style: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playwritenzbasic/v1/YcmrsYdNS1SdgmHbGgtRtk4ljD2L-0ttuA.woff2)
    format("woff2");
}

button {
  border: none;
  background-color: #4b2e1e;
  padding: 10px 20px;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: #e9e4e2;
  color: #4b2e1e;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header {
  top: 0;
  z-index: 3;
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 20px;
  background-color: rgba(224, 208, 199, 0.4);
}

.res-name {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Playwrite NZ Basic";
  color: #4b2e1e;
}

.image-overlay {
  position: relative;
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  max-width: 700px;
  gap: 15px;
}
.button-menu {
  padding: 30px 30px;
  font-size: 1.5rem;
}

