
.menu-section {
  margin: 60px auto;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
  max-width: 700px;
  padding: 10px;
  background-color: rgba(75, 46, 30, 0.9);
  color: #f5f5f5;
  border-radius: 50px;
  margin-top: 200px;
}

/* Main Title */
.menu-section h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

/* Intro Text */
.menu-section p {
  text-align: center;
  color: #ccc;
  font-weight: bold;
}

/* Section Titles */
.menu-section h2 {
  font-size: 1.6rem;
  margin-top: 40px;
  margin-bottom: 15px;
  border-bottom: 2px solid #444;
  padding-bottom: 5px;
}

/* Menu Lists */
.menu-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Menu Items */
.menu-section li {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  font-size: 1.05rem;
  border-bottom: 1px dashed #333;
}

/* Price Highlight */
.menu-section li span {
  color: #f4c430;
  font-weight: bold;
}

/* Hover Effect */
.menu-section li:hover {
  color: #f4c430;
  transform: translateX(5px);
  transition: all 0.2s ease;
}
.button-menu {
  padding: 14px;
  font-size: 1.1rem;
}
